#leftBar {
    float:left;
    width:250px;
	height:100vh;
}

#mainSettings{
/*	height:200px;*/
}

#edgeSettings{
	overflow:auto;
	background-color:#eee;
	height:750px;
	margin-top:10px;
}

#canvasNetwork{
	margin-left:50px;
}