body {
    font: normal 12px Verdana, Arial, sans-serif;
}

#leftBar {
    float: left;
    width: 250px;
    height: 100vh;
}

#mainSettings {
    /*	height:200px;*/
	margin: 2px;
	border: 1px solid black;
	padding: 10px;
}

#edgeSettings {
    overflow: auto;
    background-color: #eee;
    height: 750px;
    margin-top: 10px;
}

#canvasNetwork {
    margin-left: 50px;
}